<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This is about page from handlebars. </p>
    </div>
    {{>footer}}
</body>
</html>
